<div class="container">
  <p *ngIf="(chats$ | async)?.length === 0" class="empty">
    En attente de connexion ...
  </p>
  <ng-container *ngFor="let chat of chats$ | async">
    <div
      (click)="setChatId(chat.id)"
      class="customer {{ chat.id === (mainChat$ | async)?.id ? 'active' : '' }}"
    >
      <img src="assets/account.png" alt="avatar" />
      <p>{{ chat.customer.firstName }} {{ chat.customer.lastName }}</p>
      <span class="spacer"></span>
      <ng-container *ngFor="let unread of unreads$ | async">
        <ng-container *ngIf="chat.id === unread.chatId">
          <div *ngIf="unread.count > 0" class="unread">
            <p>{{ unread.count }}</p>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
</div>
